*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffbf6;
}

.btn{
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
}

.circle{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}

.circle1{
    border: 1px solid #3a559f;
    transition: opacity 1s ease-in-out;
}

.circle2{
    border: 2px solid #283f80;
    height: 80%;
    width: 80%;
    transition: opacity 1s .2s ease-in-out;
}

.circle3{
    border: 2px dashed tomato;
    transition: transform 1s ease-in-out, opacity .5s ease-in-out;
}

.twitter{
    transition: 1s ease-in-out;
}

.linkedin{
    transition: .5s ease-in-out;
}

.facebook:hover .circle, .facebook:hover .circle2 , 
.linkedin:hover .circle, .linkedin:hover .circle2{
    opacity: 1;
}

.instagram:hover .circle3{
    transform: rotate(360deg);
    opacity: 1;
}

.twitter:hover{
    transform: rotate(360deg);
}

.linkedin:hover{
    transform: scale(1.2);
}